body {
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: green;
}

a:hover {
    color: red;
}

.wrap {
    width: 720px;
    margin: 20px;
    min-height: 200px;
}

.myblock {
    float: left;
    width: 350px;
    margin-right: 10px;
    text-align: center;
}

.wrap:last-child {
    margin-right: 0px;
}


.calc {
    width: 350px;
    height: 344px;
    border: 1px solid #000;
}

.calc-screen {
    height: 80px;
    padding: 2px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 10px;
}

.calc-screen input {
    width: 338px;
    text-align: right;
    font-size: 4rem;
}

.buttons {
    display: grid;
    grid-template-areas:
    "seven eight nine division"
    "four five six multiply"
    "one two three addition"
    "zero equal equal substration";
    grid-gap: 8px;
    justify-items: center;
}

.btn{
    width: 76px;
    height: 56px;
    background-color: #c2c2c2;
    border-radius: 10%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    user-select: none;
}

.btn:hover {
    filter: brightness(110%);
}

.btn:active {
    filter: brightness(80%);
}

.btn.bg-gray {
    background-color: #b6c6d6;
}

.btn.equal {
    grid-area: equal;
    width: 100%;
    border-radius: 6%;
    background-color: lightgreen;
}

.history {
    font-size: 1.5rem;
    width: 334px;
    overflow: hidden;
    border: 1px solid #000;
}

.history-in {
    height: 344px;
    width: 350px;
    overflow-y: scroll;
}

.history-item {
    margin: 5px;
    padding: 5px;
    border: 1px solid #000;
    background-color: #dfd;
}

